{% extends "app/base.html" %}

{% block additional_headers %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block body_class %}hold-transition skin-blue fixed sidebar-mini{% endblock %}

{% load render_bundle from webpack_loader %}

{% block content %}
    <div class="wrapper" id="root"></div>
    {% render_bundle 'main' %}
{% endblock %}
